<div class="container">
    <div class="row bg-warning">
      
      <div class="col">
          <br>
        <h3>Info</h3>
      </div>
    </div>
  
    <div class="row bg-secondary">
      <div class="col">
        <br>
        A coding challenge for Fullstack JavaScript candidates, part of the interview process
<br> <br>
        Created by Daniel Diaz, simple MEAN book CRUD.<br> <br>
        <h3>Github repository</h3>
        <a href="https://github.com/Dani247/interview-codingchallenge-fsjs">https://github.com/Dani247/interview-codingchallenge-fsjs </a>
        <hr>
      </div>
    </div>
  </div>
  